@media only screen and (max-width: 600px) {
    * {
        margin: 0%;
        padding: 0%;
    }
}

/* navbar content */

.navbar-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-icon {
    width: 5%;
    font-size: 1.5rem;
    color: #595959;
}

.logo {
    width: 20%;
}

.logo img {
    width: 90%;
}

.search-container {
    width: 45%;
}

.form {
    width: 100%;
    border: 1.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}

.search-container input {
    width: 88%;
    height: 6vh;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
}

.search-container button {
    width: 12%;
    height: 6vh;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #d54215;
}

.login-container {
    width: 15%;
}

.login {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-icon {
    background-color: #d54215;
    border: none;
    border-radius: 50px;
    width: 30%;
    height: 4vh;
}

.user-icon img {
    width: 40%;
}

.text {
    font-size: 0.9rem;
    color: #494949;
}

/* Review-container */

.Review-container {
    background-color: #114388;
    color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.yellow-text {
    color: #fbd657;
}

.review-col2 {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.col2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col2-no1,
.col2-no2,
.col2-no3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.col2-no2 {
    width: 80%;
}

.col2-no3 {
    width: 90%;
}

.circle-blue {
    width: 2vw;
    height: 2vh;
    background-color: #2ec5b6;
    border: 1.5px solid white;
    border-radius: 50px;
}

.circle-orange {
    width: 2vw;
    height: 2vh;
    background-color: #f15025;
    border: 1.5px solid white;
    border-radius: 50px;
}

.circle-yellow {
    width: 2vw;
    height: 2vh;
    background-color: #e7ab46;
    border: 1.5px solid white;
    border-radius: 50px;
}

.col2-bold {
    font-weight: bold;
    font-size: 1.2rem;
}

.col2-text {
    font-size: 0.8rem;
}

/* image-container */

.image-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container img {
    width: 90%;
    height: 60vh;
}

/* header-content */

.header-container {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-content {
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.small-title {
    font-size: 0.8rem;
    font-weight: bold;
}

.title {
    font-size: 1rem;
}

.desc {
    font-size: 1.2rem;
}

/* food-content */

.food-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e9eadd;
}

.food-content {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.food-title {
    font-size: 0.8rem;
}

.food1 {
    width: 100%;
    height: 21vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.food-image {
    width: 30%;
}

.food-image img {
    width: 100%;
}

.food-desc {
    width: 68%;
    font-weight: bold;
}

.food2 {
    width: 100%;
    height: 21vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.food3 {
    height: 21vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* trend-content */

.trend-container {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.trend-content {
    width: 90%;
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trend-title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.8rem;
    text-decoration-color: #e7ab46;
}

.trend-col1 {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.trend-col2 {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.trend-image {
    width: 48%;
    height: 57vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.trend-image img {
    width: 100%;
}

.medium-title {
    font-size: 0.55rem;
}

/* home-content */

.home-container {
    width: 100%;
    height: 350vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home-content {
    width: 90%;
    height: 340vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1rem solid #e7ab46;
}

.home-header,
.home-people {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-title {
    font-size: 2.5rem;
    text-align: center;
    color: #fbd657;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    width: 70%;
}

.home-desc {
    font-size: 1.1rem;
    text-align: center;
    width: 90%;
}

.home-desc span {
    color: #d43e11;
    font-size: 0.9rem;
}

.home-image {
    width: 60%;
}

.home-image img {
    width: 100%;
}

.home-main {
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 0.13rem;
    text-decoration-color: #d43e11;
}

.home-main-desc1 {
    font-size: 1.1rem;
    text-align: center;
    width: 85%;
}

.home-main-desc2 {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    width: 95%;
}

.circle-navigate {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.circle-gray {
    width: 2vw;
    height: 2vh;
    background-color: #d9d9d9;
    border: 1px solid #cdcdcd;
    border-radius: 50px;
}

.circle-darkgray {
    width: 2vw;
    height: 2vh;
    background-color: #636363;
    border: 1px solid #595959;
    border-radius: 50px;
}

.home-media,
.home-people,
.home-about-people,
.home-about-people2,
.footer-about-links {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-media-views {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.home-media-views2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.media-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 17%;
    height: 8vh;
}

.media-icon {
    width: 30%;
}

.media-icon img {
    width: 100%;
    height: 5vh;
}

.home-people {
    height: 35vh;
}

.home-about-people {
    height: 35vh;
    justify-content: space-between;
}

.home-about-people2 {
    height: 16vh;
    justify-content: space-between;
}

.people-type {
    width: 90%;
}

.people-desc {
    color: #d43e11;
    font-size: 0.9rem;
    text-align: left;
}

.home-people-views {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.home-people-views2 {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.people-col {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.people-icon {
    width: 100%;
}

.people-icon img {
    width: 100%;
}

/* footer content*/

.footer-container {
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-content {
    width: 90%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo {
    width: 40%;
}

.footer-logo img {
    width: 90%;
}

.footer-button {
    background-color: #2ec5b6;
    width: 70%;
}

.footer-button button {
    width: 100%;
    height: 12vh;
    border: 0.2rem solid#d54215;
    font-weight: bold;
    color: black;
    background-color: white;
}

.footer-about-links {
    height: 6vh;
    justify-content: space-between;
}

.about-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
}

.link-media-icon {
    width: 30%;
}

.link-media-icon img {
    width: 100%;
}

.footer-end {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-end-col1,
.footer-end-col1-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 25vh;
    font-size: 0.7rem;
}

.footer-end-col2,
.footer-end-col2-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 25vh;
    font-size: 0.7rem;
}

.footer-end-col1-2,
.footer-end-col2-2 {
    font-size: 0.9rem;
}